body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  background: #2CC5E1;
  overflow: auto;
}

.navbar-left {
 float: left;
 display: inline-block;
 padding: 0.5rem;
 color: white;
}

.navbar-right {
 float: right;
 display: inline-block;
 padding: 0.5rem;
 text-decoration: none;
 color: white;
}

.container {
  background: blue;
}

.grid {
  background: red;
  border: black 0.5rem solid;
  float: left;
  margin: 1rem;
  width: calc(100% / 3 - 1rem - 1rem);
}

.wrapper {
background: green;
}

.img {
 max-width: 4rem;
 max-height: 4rem;
padding: 0.5rem;
}

.name {
 background: orange;
 display: inline-block;
 margin: 0;
}

.username {
background: purple;
display: block;
font-size: 0.75rem;
border-bottom: black 0.5rem solid;
margin: 0;
}

.repo {
 background: gray;
 display: inline;
}

.html-dot {
  display: inline-block;
  background: blue;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;

}

.react-dot {
  display: inline-block;
  background: purple;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.bootstrap-dot {
  display: inline-block;
  background: orange;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.repo-language {
background: pink;
display: inline-block;
}

.footer {

}
