body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}


.navbar {
  background: #2CC5E1;
  overflow: auto;
  padding
}

.navbar-left {
 float: left;
}

.navbar-right {
 float: right;
}

.profile {
 border: black 0.1rem solid;
}

.container {

}

.grid {

}

.wrapper {

}

.img {
 max-width: 4rem;
 max-height: 4rem;
}

.name {

}

.username {

}

.repo {

}

.html-dot {
  display: inline-block;
  background: blue;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.react-dot {
  display: inline-block;
  background: purple;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.bootstrap-dot {
  display: inline-block;
  background: green;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.repo-dot {

}

.repo-language {

}

.footer {

}
